
{% extends "base.html" %} {% block title %} Log In Page {% endblock%}
{% block content %}
{% load static %}

<header class="d-flex justify-content-between align-items-center p-3 " style="background-color: #dbbb93;">
        <!-- Logo -->
        <div>
            <a href="/">
                <img style ="max-width:150px; margin-left:30px;" src="{% static 'images/logo.png' %}" alt="Homepage" class="img-fluid">
            </a>
        </div>
        <div>
            <!-- Show these buttons when user is not logged in -->
            <a href="{% url 'signUp' %}" class="btn btn-primary me-2">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
        </div>
</header>

<title>GymPact - Sign In</title>

<div class="container form-container">
    <div class="row g-4">
        <div class="col-md-6">
            <h3 style="margin-top:40px" class="mb-3">Login</h3>

            <form  method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <div class="mb-3">
                    <label for="email" class="form-label">Username</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="beast@gympact.fit">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Pin</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Gym Access Pin" required>
                </div>


                <button type="submit" class="btn btn-primary w-100">Login</button>


            </form>
        </div>
    </div>
</div>

{% endblock %}
