asgiref==3.8.1
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
cssselect==1.2.0
cssutils==2.11.1
Django==5.1.6
idna==3.10
lxml==5.3.1
more-itertools==10.6.0
premailer==3.10.0
requests==2.32.3
sqlparse==0.5.3
urllib3==2.3.0
whitenoise==6.9.0
yagmail==0.15.293
